<!-- <div class="fullscreeen">
   <div class="navbar">My App</div>
   <div class="leftside"></div>
   <div class="bottomside">bottom side</div>

</div> -->
<div class="flex-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0" style="height: 98%;">
  <div class="item item-1" fxFlex="15%" style="background: #3F51B5;">
<app-sidenavbar ></app-sidenavbar>
</div>
  <div class="item item-2" fxFlex="85%" style="background: #ececec;">
<app-dynmpage></app-dynmpage>
</div>
</div>
<div class="flex-container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     
     fxLayoutGap.xs="0" style="height: 2%;">
  <div class="item item-1" fxFlex="100%" style="background: #fff">Item 1</div>
</div>