<div style="padding: 8px;">
    <mat-card style="background: transparent;color:white;">
        <!-- <img mat-card-image [src]="card.imgSrc" /> -->
        <mat-card-title style="text-align: center">Title </mat-card-title>
        <mat-card-content style="text-align: center"> Description </mat-card-content>
        <mat-card-footer>
          <button fxFlex mat-flat-button color="primary">Do Something Button</button>
        </mat-card-footer>
      </mat-card>

      <mat-card style="margin-top:1%;" *ngFor="let items of titlearray;let i = index;">
          <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <!-- <mat-card-title>{{items.name }}</mat-card-title> -->
                 <label style="margin: 0px;    text-align: center;    width: 100%;">{{items.name }}</label>
                 <!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
          </div>
           
      </mat-card>
</div>
